{
  "extends": ["@imaginary-cloud/react"],

  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "import/no-named-as-default": 0,
    "prettier/prettier": "warn",
    "spaced-comment": "warn",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": 0,
    "arrow-body-style": 1,
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}