@import 'assets/scss/colors.scss';
@import 'assets/scss/typography.scss';
@import '~bootstrap/scss/bootstrap';

.body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $brand-black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $default-font-family;
  }
}

// Footer classes
.page-footer {
  background-color: $brand-grey;
  font-family: $default-font-family;
  font-size: $font-size-sm;
  color: $brand-black;

  h5 {
    font-family: $highlight-font-family;
    font-weight: bold;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    line-height: 20pt;
    text-decoration: none;

    li {
      padding: 0;

      a {
        color: $brand-black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.section-body-mobile {
    border-bottom: 1px solid #ced4da;
  }
}

// Header classes (to be removed / nested) 

.page-header {
  background-color: $brand-black;
  font-family: $highlight-font-family;
  font-size: $font-size-sm;


  button{
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  ul {
    
    li {
      padding: 0;
      margin-left: 1px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: white;
        }
        &:focus {
          text-decoration: none;
          color: white;
        }

      }
      
      button {
        background-color: $brand-black;
        border: none;
        
        &:hover {
          background-color: $brand-black;
        }
        
      }

      input {
        background-color: $brand-black;
        border: none;
        color: white;
        &:focus {
          background-color: $brand-black;
          color: white;
          box-shadow: none;
        }
      }

      .marketplace {
        border-radius: 16pt;
        padding: 5pt 7pt;
        background-color: rgba(242, 242, 242, 0.4);
    }


    .dropdown-item {
      color: #48484a;
      vertical-align: middle;
      
      &:hover {
        background-color: $brand-grey;
        color: $brand-black
      }
      &:focus {
        background-color: white;
      }

    }
   
    }
  }

  div.section-body-mobile {
    border-bottom: 1px solid #ced4da;


    
  }
}

