@import 'assets/scss/colors.scss';
@import 'assets/scss/typography.scss';
@import '~bootstrap/scss/bootstrap';

.body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $brand-black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $default-font-family;
  }
}

// Footer classes
.page-footer {
  background-color: $brand-grey;
  font-family: $default-font-family;
  font-size: $font-size-sm;
  color: $brand-black;

  h5 {
    font-family: $highlight-font-family;
    font-weight: bold;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    line-height: 20pt;
    text-decoration: none;

    li {
      padding: 0;

      a {
        color: $brand-black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.section-body-mobile {
    border-bottom: 1px solid #ced4da;
  }
}

// Header classes (to be removed / nested) 

.page-header {
  background-color: $brand-black;
  font-family: $highlight-font-family;
  font-size: $font-size-sm;

  button{
    border-color: none;

    .navbar-toggler-icon {
      color: white;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    line-height: 20pt;
    text-decoration: none;

    li {
      padding: 0;

      a {
        color: $brand-black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      button {
        background-color: $brand-black;
        border: none;
        
        &:hover {
          background-color: $brand-black;
        }
        
      }

      input {
        background-color: $brand-black;
        border: none;
      }

   
    }
  }

  div.section-body-mobile {
    border-bottom: 1px solid #ced4da;
  }
}



.navbar.ow-nav {
  background-color: #48484a !important;
}

a.nav-link.header-link {
  color: white !important;
}

.ow-item {
  margin-right: 20px;
  font-family: $default-font-family;
}
